div {
   padding: 0px;
   /* margin-bottom: 10px; */
   border: 5px;
}

#play-button {
  width: 10%;
  margin: 0 auto;
}

.left {
  border-right: 1px solid #333;
}

#pbut {
  margin: 35px;
}

#logo {
  height: auto;
  width: auto;
  max-height: 200px;
}
